#Python Basics
プログラミングの基本を確認するためのノート

### 変数の利用１ 2022.11.09

In [ ]:
a = 5 * 3
a

15

### 変数の利用２ 2022.11.09
前段階での処理結果（ a の値は 15）は、次の処理でそのまま利用される。

In [ ]:
b = a *2
b

30

### データフレームの利用  2022.11.16
データフレームの定義と表示

In [ ]:
# pandasをインポート
import pandas as pd

df = pd.DataFrame(
     data = [ [ '佐藤', 170, 60 ] , ['田中', 160, 50 ] , [ '鈴木', 165, 58 ] ] ,
     index = ['S01', 'S02', 'S03'],
     columns =[ 'name' , 'height', 'weight']
)
df

    name  height  weight
S01   佐藤     170      60
S02   田中     160      50
S03   鈴木     165      58