#Python Basics
プログラミングの基本を確認するためのノート

### 変数の利用１

In [ ]:
a = 5 * 3
a

15

* １行目：計算結果を変数 a に代入
* ２行目：a の値を出力（表示）

### 変数の利用２

In [ ]:
b = a * 2
b

30

* 前段階での処理結果（ a の値は 15）は、次の処理でそのまま利用されます。

### データフレームの利用
データフレームの定義と表示

In [ ]:
# pandasをインポート
import pandas as pd

df = pd.DataFrame(
     data = [ [ '佐藤', 170, 60 ] , ['田中', 160, 50 ] , [ '鈴木', 165, 58 ] ] ,
     index = ['S01', 'S02', 'S03'],
     columns =[ 'name' , 'height', 'weight']
)
df

    name  height  weight
S01   佐藤     170      60
S02   田中     160      50
S03   鈴木     165      58

* 最終行：df と書くことで、データフレームの内容が出力（表示）されます。

### 関数の利用

In [ ]:
# 自作関数の定義１
def myFunc1(a,b):    # ２つの入力データを合計する関数
  s = a+b
  return s

# 自作関数の定義２   #  入力データを２して 1 加える関数（ y = 2x + 1 ）
def myFunc(x):  # 入力：引数（ひきすう）として x を受け取る
  y = 2*x+1     # 処理
  return y      # 出力：戻り値として y を返す

#自作関数を利用したメインプログラム
a = input("数を入力して下さい >>>")   # 入力
b = input("数を入力して下さい >>>")   # 入力
x = float(a)
y = float(b)
goukei = add(x,y)                     # 処理（自作関数１を利用）

print("計算結果：", goukei)           # 出力

数を入力して下さい >>>10
数を入力して下さい >>>5
計算結果： 15.0

### CLASS の利用

In [ ]:
# クラスの定義
class myClass:

    def __init__( self ):           # コンストラクタ
        self.a = 0                     # インスタンス変数１
        self.b = 0                     # インスタンス変数２

    def add( self , a, b ):        # メソッド
        self.a = a                     # インスタンス変数１
        self.b = b                     # インスタンス変数２
        s = self.a + self.b         # 合計を計算
        return s

# メインプログラム
obj1 = myClass()     #初期化
obj2 = myClass()     #初期化
print("初期のインスタンス変数：", obj1.a , obj1.b,  obj2.a , obj2.b )

sum1 = obj1.add( 3 , 5 )    #メソッドの実行
sum2 = obj2.add( 7 , 8 )    #メソッドの実行
print("実行後のインスタンス変数：", obj1.a , obj1.b,  obj2.a , obj2.b )
print("実行後の戻り値：", sum1, sum2 )

初期のインスタンス変数： 0 0 0 0
実行後のインスタンス変数： 3 5 7 8
実行後の戻り値： 8 15